<ion-view view-title="Account">
  <ion-content>
    <div style="height: 50px"></div>
    <div class="text-center">
        <div ng-if="firebaseUser.photoURL" class="cover-image" style="background-image:url('{{firebaseUser.photoURL}}');"></div>
        <div ng-if="!firebaseUser.photoURL" class="cover-image" style="background-image:url(img/logo.svg);border-radius: 0;"></div>
        <h3 ng-if="firebaseUser.displayName">{{firebaseUser.displayName}}</h3>
        <h3 ng-if="!firebaseUser.displayName">{{firebaseUser.email}}</h3>
        <div style="height: 20px"></div>
    </div>
    <ion-list>
    <ion-item class="item-divider"></ion-item>
    <ion-item class="item-icon-right">Report a Problem<i class="icon ion-chevron-right icon-accessory"></i></ion-item>
    <ion-item class="item-icon-right">Help<i class="icon ion-chevron-right icon-accessory"></i></ion-item>
    <ion-item class="item-icon-right">Privacy & Terms<i class="icon ion-chevron-right icon-accessory"></i></ion-item>
    <ion-item class="item-divider"></ion-item>
    <ion-item class="positive" ng-click="signOut()">logout</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
